/*
Error: Invalid GBK character "\xE6"
        on line 43 of login.scss

38:         img{
39:           width: 20px;
40:           height: 20px;
41:         }
42:       }
43:       /*标题*\/
44:       .login-title{
45:         display: flex;
46:         width: $minLoginBox;
47:         height: 45px;
48:         font-size: $titleFontsize;

Backtrace:
login.scss:43
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/util.rb:1090:in `rescue in block in find_encoding_error'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/util.rb:1087:in `block in find_encoding_error'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/util.rb:1086:in `each'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/util.rb:1086:in `each_with_index'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/util.rb:1086:in `find_encoding_error'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/util.rb:814:in `check_sass_encoding'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:444:in `check_encoding!'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:400:in `_to_tree'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
C:/Ruby27-x64/bin/sass:23:in `load'
C:/Ruby27-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE6\"\A         on line 43 of login.scss\A \A 38:         img{\A 39:           width: 20px;\A 40:           height: 20px;\A 41:         }\A 42:       }\A 43:       /*标题*/\A 44:       .login-title{\A 45:         display: flex;\A 46:         width: $minLoginBox;\A 47:         height: 45px;\A 48:         font-size: $titleFontsize;"; }
