.background{
  padding: 50px 0;
  box-sizing: border-box;
  background-color: #F6F6F6;
  width: 100vw;
}
.user-box{
    height: 100%;
    margin: auto;
    width: 1100px;
    display: flex;
    background-color:  #FFFFFF;
    .sidebar{
      width: 220px;
      background-color: #ecedf0;
      .user-bar{
        ul{
          width: 220px;
          display: flex;
          flex-direction: column;
          padding: 0;
          border: 0;
          margin: auto;
          //li{
          //  cursor: pointer;
          //  width: 212px;
          //  height: 56px;
          //  margin-bottom: 10px;
          //  line-height: 56px;
          //  margin-left: 8px;
          //  text-align: center;
          //  color: #565656;
          //}
        }
      }
    }
    .details{
      width: 900px;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
